:root {
    --primary-light: #ddd;
    --primary-dark: #222831;
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
    --primary-yellow: #fac650;
  }
  
body{
    background-color: var(--primary-dark); 
    color: var(--primary-light); 
    font-family: 'Roboto', sans-serif;    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.main{
     flex: 1;   
}
.main-text h2{
    font-size: 30px;
    margin-top:50px;
    font-weight:bolder;
}
.comp-choice, .play-choice{
    font-size: 90px;
}
.modal-c button{
    background-color: #393e46;
    border :none;
    color: white;
    padding:10px 25px;
    font-size: 25px;
    border-radius: 10px;
}
.modal-c p{
    margin-top: 0;
    margin-bottom: 30px;

}
.modal-c button:hover{
    background-color: #4a4f57;
}
.modal-c button:active{
    background-color: #5b5f68;
}
.modal-c{
    display: none;
    background-color: #222831;
    transform: translate(-50%,-50%);
    padding:40px;
    font-size: 45px;
    font-weight: bolder;
    color: white;
    border-radius: 12px;
    width: 250px;
    z-index:1;
    position: absolute;
    left:50%;
    top:50%;
    align-self: center;
    transition: 0.3s;
}
.scoreboard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap:120px; */
    margin-top: 48px;
    margin :0 auto;
    max-width: 400px;
    padding:12px;

}
.C-score, .P-score{
    font-weight: bolder;
    font-size: 22px;
}
.button-c{
    display: flex;
    justify-content: center;
}

.button-c button{
    align-self: center;
    width:160px;
    height: 160px;
    /* padding:50px; */
    cursor: pointer;
    margin:15px;
    text-align: center;
    font-size: 80px;
    color: white;
    background-color: #393e46;
    border: none;
    border-radius: 12px;
}
.button-c button:hover{
    background-color: #4a4f57;
}
.button-c button:active{
    background-color: #5b5f68;
}
.scoreboard{
    margin-top: 32px;


}
.main-text h3{
    font-size: 1.2rem;
    margin-top:-13px;
}
.title{
    font-family:'Press Start 2P', cursive;
    color: #fac650;
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
    padding:32px;
    background-color:#111720;
    display: flex;
    justify-content: center;

}
.footer{
    display:flex;
    justify-content: center;
    gap:14px;
}
a{
    color: white;
}
i{
    vertical-align: center;
    margin-top: 16px;
}
h1{
    margin: 0;
    width: auto;
    height: auto;
}