:root {
    --primary-light: #ddd;
    --primary-dark: #222831;
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
    --primary-yellow: #fac650;
  }
  
body{
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-family: 'Roboto', sans-serif;    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    text-align: center;
}
.main-text h2{
    font-size: 30px;
    margin-top:50px;
    font-weight:bolder;
}
.comp-choice, .play-choice{
    font-size: 90px;
}
.scoreboard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap:120px; */
    margin-top: 48px;
    margin :0 auto;
    max-width: 400px;
    padding:12px;

}
.C-score, .P-score{
    font-weight: bolder;
    font-size: 22px;
}
.button-c{
    display: flex;
    justify-content: center;
}

.button-c button{
    align-self: center;
    width:160px;
    height: 160px;
    /* padding:50px; */
    cursor: pointer;
    margin:15px;
    text-align: center;
    font-size: 80px;
    color: white;
    background-color: #393e46;
    border: none;
    border-radius: 12px;
}
.button-c button:hover{
    background-color: #4a4f57;
}
.scoreboard{
    margin-top: 32px;


}
.main-text h3{
    font-size: 1.2rem;
    margin-top:-13px;
}
.title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fac650;
    text-align: center;
    font-size: 24px;
    padding:32px;
    background-color:#111720;
    display: flex;
    justify-content: center;

}
h1{
    margin: 0;
    width: auto;
    height: auto;
}