:root {
    --primary-light: #ddd;
    --primary-dark: #222831;
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
    --primary-yellow: #fac650;
  }
  
body{
    background-color: var(--primary-dark); 
    color: var(--primary-light); 
    font-family: 'Roboto', sans-serif;    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.main-text h2{
    font-size: 30px;
    margin-top:50px;
    font-weight:bolder;
}
.comp-choice, .play-choice{
    font-size: 90px;
}
.main{
    scale: 1;
}
.modal-c button{
    background-color: #393e46;
    border :none;
    color: white;
    padding:10px 25px;
    font-size: 25px;
    border-radius: 10px;
}
.modal-c p{
    margin-top: 0;
    margin-bottom: 30px;

}
.modal-c button:hover{
    background-color: #4a4f57;
}
.modal-c button:active{
    background-color: #5b5f68;
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}
.overlay.active{
    display: block;
}
.modal-c.active{
     display:block; 
     transform:translate(-50%,-50%) scale(1); 

}

a{
    /* display: flex;
    flex-direction: column
    align-items: center; */
    margin-top: 5px;
    transition: 200ms linear;
}
a:hover{
    rotate: 360deg;
    scale: 1.2;
}
footer{
    font-size: 20px;
    vertical-align: center;
    margin-bottom: 10px;

}

.modal-c{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--primary-dark);
    text-align: center;
    font-size: 30px;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 150ms ease-in-out;
}
.scoreboard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap:120px; */
    margin-top: 48px;
    margin :0 auto;
    max-width: 400px;
    padding:12px;

}
.C-score, .P-score{
    font-weight: bolder;
    font-size: 22px;
}
.button-c{
    display: flex;
    justify-content: center;
}

.button-c button{
    align-self: center;
    width:160px;
    height: 160px;
    cursor: pointer;
    margin:15px;
    text-align: center;
    font-size: 80px;
    color: white;
    background-color: #393e46;
    border: none;
    border-radius: 12px;
}
.button-c button:hover{
    background-color: #4a4f57;
}
.button-c button:active{
    background-color: #5b5f68;
}
.scoreboard{
    margin-top: 32px;


}
.main-text h3{
    font-size: 1.2rem;
    margin-top:-13px;
}
.title h1{
    font-size: 32px;
    font-family:'Press Start 2P', cursive;
    color: #fac650;

}
.title{
    padding:40px 0;
    background-color:#111720;
    display: flex;
    justify-content: center;

}
.footer{
    display:flex;
    justify-content: center;
    gap:14px;
}
a{
    color: white;
}
i{
    vertical-align: center;
    margin-top: 16px;
}
h1{
    margin: 0;
    width: auto;
    height: auto;
}
.draw-count p{
    font-size: 40px;
    margin:0;
}